.wrapper{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    align-items: center;
}
.content{
    grid-column: span 12;
}
.checkboxes{
    grid-column: span 12;
    /*display: inline-block;*/
}

.cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    align-items: center;
}
.card  {
    grid-column: span 3;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-left: 25px;
    padding-right: 25px;
    background-color: #f1f1f1;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {background-color: #f2f2f2;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}

/* Position the Popup form */
.login-popup {
    position: relative;
    text-align: center;
    width: 100%;
}
/* Hide the Popup form */
.form-popup {
    display: none;
    position: fixed;
    left: 45%;
    top:5%;
    transform: translate(-45%,5%);
    border: 2px solid #666;
    z-index: 9;
}
/* Styles for the form container */
.form-container {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
}
/* Full-width for input fields */
.form-container input[type=text], .form-container input[type=color], .form-container input[type=number] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #eee;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=color]:focus, .form-container input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}
/* Style submit/login button */
.form-container .btn {
    background-color: #8ebf42;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
/* Style cancel button */
.form-container .cancel {
    background-color: #cc0000;
}
/* Hover effects for buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
#showCars {
    background-color: #1c87c9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
}